.header{
    height: 100vh;
}

body{
    width: auto;
    height: auto;
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    background-color: #ff512f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    height: 10vh;
    border-radius: round;
}

h3{
    color: whitesmoke;
    padding-right: 40vh;

}

.nav-link{
    font-style: italic;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 3px solid #efefef;
}

.nav-link:hover{
    font-size: 4vh;
    transition: 1s;
    color: whitesmoke;
}
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: auto;
    height: auto;
    object-fit: cover;
    filter: brightness(30%);
  }
  
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.1s linear;
  }

.section-1{
    text-align: center;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 70vh;
    font-size: 30vh;
}
 .btn{
    margin-bottom: 50vh;
 }




 footer {
    background-color: darkslategrey;
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}
  
  footer p > span {
    color: #ff512f;
}
  
  footer input {
    border: none !important;
} 
  
  footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}