.header{
    height: 100vh;
}

body{
    width: auto;
    height: auto;
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    background-color: #ff512f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    height: 10vh;
    border-radius: 10%;
}

.nav-link{
    font-style: italic;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 3px solid #efefef;
}
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: auto;
    height: auto;
    object-fit: cover;
    filter: brightness(30%);
  }
  
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.1s linear;
  }

.mybanner{
    text-align: center;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 70vh;
    font-size: 30vh;
}
.mybanner h2{
    font-size: 6vmax;
    color: #ff512f;
    font-weight: bolder;
    text-shadow: 3px 4px whitesmoke;
}

 .btn{
    margin-bottom: 50vh;
 }

